/* Common Css */
.bg-tomato{
    background-color: tomato;
    color: aliceblue;
    font-size:20px ;
    font-weight: bold;
    padding: 3px 10px;
    transition: .5s;
}
p{
    font-size: 18px;
}
/* Custom Css */
.top-banner{
    background-color: #82589F;
    height: auto;
    
}
